---
layout: default
title:  Applied Data Analysis
---


<div class="intro-txt post-content">Welcome to the course page of <b>Applied Data Analysis (CS-401).</b>
The course is taught by <a href="http://fooshed.net">Michele Catasta</a> at <a href="http://www.epfl.ch">EPFL</a>. 

<br>This course teaches the basic techniques and practical skills required to make sense out of a variety of data, 
with the help of the most acclaimed software tools in the Data Science world: pandas, scikit-learn, Spark, TensorFlow, etc.
<br>For more details, check the <a href="http://edu.epfl.ch/coursebook/en/applied-data-analysis-CS-401">coursebook description</a>.</div>

{% for post in paginator.posts %}

	<article class="post">

		{% if post.external-url %}
			<h1>
				<a href="{{ post.external-url }}"><span class="postdate">{{ post.date | date: "%d/%m" }}</span> - {{ post.title }}</a>
				<!--<a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>-->
			</h1>
		{% else %}
			<h1><a href="{{ post.url }}"><span class="postdate">{{ post.date | date: "%d/%m" }}</span> - {{ post.title }}</a></h1>
		{% endif %}

		<!--<div class="post-content">{{ post.content }}</div>-->

	</article>

{% endfor %}



{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Newer</a>
			{% else %}
				<a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Newer</span>
		{% endif %}

		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="nope right">Older &rarr;</span>
		{% endif %}

	</div>
{% endif %}

